build/*

external/nvapi/*
!external/nvapi/CMakeLists.txt
!external/nvapi/README.md
!external/nvapi/include/nvapi/.gitkeep
!external/nvapi/bin/.gitkeep

imgui.ini

data/fonts/*
!data/fonts/.gitkeep

data/meshes/*
!data/meshes/.gitkeep

data/textures/*
!data/textures/defaults/
!data/textures/defaults/*

data/globalAssets

src/xd327/*

data/log.txt
hooks
lfs
Thumbs.db