build/*

external/nvapi/*
!external/nvapi/CMakeLists.txt
!external/nvapi/README.md
!external/nvapi/include/nvapi/.gitkeep
!external/nvapi/bin/.gitkeep

imgui.ini


data/textures/water_caustics_grayscale/*

data/sounds/*
data/config.ini

data/log.txt
hooks
lfs
Thumbs.db